dist: focal
language: go

go:
  - 1.14.x

git:
  depth: false

env:
  global:
    - SDK_VERSION="0.16.0"
    - OPM_VERSION="1.15.2"
    - GO111MODULE=on
    - MINIKUBE_VERSION="1.15.1"
    - K8S_VERSION="1.19.2"

services:
  - docker

addons:
  apt_packages:
    - python3
    - python3-venv

jobs:
  include:
    - stage: Release operator on Quay.io
      if: branch = master AND type = push
      install:

        # Download Operator SDK
        - curl -Lo operator-sdk https://github.com/operator-framework/operator-sdk/releases/download/v${SDK_VERSION}/operator-sdk-v${SDK_VERSION}-x86_64-linux-gnu
        - chmod +x operator-sdk
        - mv operator-sdk $GOPATH/bin/

        # Download OPM tool
        - curl -Lo opm https://github.com/operator-framework/operator-registry/releases/download/v${OPM_VERSION}/linux-amd64-opm
        - chmod +x opm
        - mv opm $GOPATH/bin/

      script:
        - make release-operator

    - stage: Acceptance tests
      if: type = pull_request
      env:
        - KUBECONFIG=$HOME/miniconfig
        - MINIKUBE_WANTUPDATENOTIFICATION=false
        - MINIKUBE_WANTREPORTERRORPROMPT=false
        # exclude knative and example annotated tests
        - EXTRA_BEHAVE_ARGS="--tags=~@knative --tags=~@openshift"
        - TEST_ACCEPTANCE_CLI="kubectl"
        - TEST_ACCEPTANCE_START_SBO="remote"
        - SBO_NAMESPACE=operators
      install:
        # Download Operator SDK
        - curl -Lo operator-sdk https://github.com/operator-framework/operator-sdk/releases/download/v${SDK_VERSION}/operator-sdk-v${SDK_VERSION}-x86_64-linux-gnu
        - chmod +x operator-sdk
        - mv operator-sdk $GOPATH/bin/

        # Download OPM tool
        - curl -Lo opm https://github.com/operator-framework/operator-registry/releases/download/v${OPM_VERSION}/linux-amd64-opm
        - chmod +x opm
        - mv opm $GOPATH/bin/

        # install kubectl
        - curl -Lo kubectl https://storage.googleapis.com/kubernetes-release/release/v${K8S_VERSION}/bin/linux/amd64/kubectl
        - chmod +x kubectl
        - sudo mv kubectl /usr/local/bin/
        # install minikube
        - curl -Lo minikube https://storage.googleapis.com/minikube/releases/v${MINIKUBE_VERSION}/minikube-linux-amd64
        - chmod +x minikube
        - sudo mv minikube /usr/local/bin/
        # start minikube
        - touch $KUBECONFIG
        - ./hack/start-minikube.sh start --kubernetes-version=v${K8S_VERSION} --cpus $(nproc) --memory $(free -tm | grep "Total:" | awk '{print $2}')m
        - eval $(minikube docker-env)
        - kubectl get nodes -o yaml
        - kubectl cluster-info
        - docker info
      script:
        - OPERATOR_REPO_REF=$(minikube ip):5000/sbo make release-operator -o registry-login
        - OPERATOR_INDEX_IMAGE=$(minikube ip):5000/sbo:index SKIP_REGISTRY_LOGIN=true ./install.sh
        - travis_wait 60 make test-acceptance

