name: PR checks

on:
  pull_request:
    branches:
      - master

env:
  GO111MODULE: on
  SDK_VERSION: "1.3.0"
  OPM_VERSION: "1.15.2"
  MINIKUBE_WANTUPDATENOTIFICATION: false
  MINIKUBE_WANTREPORTERRORPROMPT: false
  K8S_VERSION: "1.19.2"
  MINIKUBE_VERSION: "1.15.1"
  TEST_ACCEPTANCE_CLI: "kubectl"
  CONTAINER_RUNTIME: "docker"

jobs:
  lint:
    name: Code Quality
    runs-on: ubuntu-20.04

    steps:
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: "^1.15.6"

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.7"
          architecture: "x64"

      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Run linters
        run: make lint

  unit:
    name: Unit Tests with Code coverage
    runs-on: ubuntu-20.04

    steps:
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: "^1.15.6"

      - name: Checkout Git Repository
        uses: actions/checkout@v2

      - name: Unit Tests with Code Coverage
        run: |
          make test

      - name: Upload Code Coverage Report
        uses: codecov/codecov-action@v1
        with:
          file: cover.out
          verbose: true
          fail_ci_if_error: true

  acceptance:
    name: Acceptance Tests with Kubernetes and using OLM
    runs-on: ubuntu-20.04

    env:
      EXTRA_BEHAVE_ARGS: "--tags=~@knative --tags=~@openshift"

    steps:
      - name: Checkout Git Repository
        uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: "^1.15.6"

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.7"
          architecture: "x64"

      - name: Setup-cli
        uses: ./.github/actions/setup-cli

      - name: Acceptance tests
        timeout-minutes: 60
        run: |
          eval $(minikube docker-env)
          make OPERATOR_REPO_REF=$(minikube ip):5000/sbo SKIP_REGISTRY_LOGIN=true release-operator -o registry-login test-acceptance-with-bundle


  acceptance_without_olm:
    name: Acceptance tests running on Kubernetes without using OLM
    runs-on: ubuntu-20.04

    env:
      EXTRA_BEHAVE_ARGS: "--tags=~@knative --tags=~@openshift --tags=~@olm"
      UMOCI_VERSION: "0.4.5"

    steps:
      - name: Checkout Git Repository
        uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: "^1.15.6"

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.7"
          architecture: "x64"

      - name: Set up CLI
        uses: ./.github/actions/setup-cli

      - name: Setup umoci cli
        run: |
          curl -Lo umoci https://github.com/opencontainers/umoci/releases/download/v${UMOCI_VERSION}/umoci.amd64
          chmod +x umoci
          mv -v umoci $GITHUB_WORKSPACE/bin/

      - name: Acceptance tests against vanilla k8s without OLM
        timeout-minutes: 60
        run: |
          eval $(minikube docker-env)
          make OPERATOR_REPO_REF=$(minikube ip):5000/sbo SKIP_REGISTRY_LOGIN=true release-operator -o registry-login release-manifests
          kubectl apply -f out/release.yaml
          make TEST_ACCEPTANCE_START_SBO=remote test-acceptance
